name = NativeGATracker

flex.sdk = /Applications/FDT/sdks/air_18_27_may

bin.ext = 

ios.sdkversion = iphoneos

android.sdk = /Users/simon/Downloads/android-sdk-macosx/platforms/android-18
android.sdk2 = /Users/simon/Downloads/android-sdk-macosx/
android.platformtools = /Users/simon/Downloads/android-sdk-macosx/platform-tools